:root {
    --text-color: #7F7F7F;
    --background-color: #252526;
    --shadow-color: #7c2d2d;
    --border-color: #7c2d2d;
}

html{
    height: 70%;
    width: 50%;
    margin: auto;
}

body{
    padding-top: 1cm;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size:x-large;
    text-shadow: 0 0 5px var(--shadow-color);
    margin-left: 10%;
    margin-right: 10%;
}

table {
    width: 100%;
    border: 10px solid var(--shadow-color);
    border-style:double;
    text-align: center;
    font-size:x-large;
}

td, th {
    height: 40px;
    width: 50px
}

.menu-button{
    background-color: var(--shadow-color);
    color: var(--text-color);
    font-weight: lighter;
    font-size: medium;
}

.center {
    margin: auto;
    width: 50%;
    padding: 2%;
  }