:root {
    --text-color: #7F7F7F;
    --comment-color: #679955;
    --function-color: #519CD6;
    --function-name-color: #DADCAA;
    --bracket-color: #F6D700;
    --string-color: #CE9178;
    --variable-color: #9FD7F7;
    --background-color: #252526;
    --background-color-experience: #1E1E1E;
    --background-color-info: #252526;
    --background-color-tab: #2D2D2D;
    --info-text-color: #CCCCCC;
    --folder-png: url("../resources/arrow-down-sign-to-navigate.png");
    --coding-png: url("../resources/coding.png");
}

html{
    height: 70%;
    width: 50%;
    margin: auto;
}

body{
    padding-top: 1cm;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size:x-large;
    text-shadow: 0 0 5px #7c2d2d;
    margin-left: 10%;
    margin-right: 10%;
}

table {
    width: 100%;
    border: 10px solid #7c2d2d;
    border-style:double;
    
    text-align: center;
    font-size:x-large;
}


td, th, tr {
    height: 40px;
    width: 50px
}

.center {
    margin: auto;
    width: 50%;
    padding: 2%;
  }